# Ignore build outputs
**/bin/
**/obj/

# IDE configs
.vs/
.vscode/
*.suo
*.user
*.cache
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage artifacts
coverage.*
*.lcov

# NuGet packages
*.nupkg
**/*.snupkg

# Secret/environment files
*.env
.env.*

# Test runner artifacts
*.trx
_nuget/

# Misc
*.db
